In [1]:

import psycopg2

In [2]:
# conn = psycopg2.connect(dbname='tweetsql',port=5432,password="tweetsql",
#                         user='tweetsql',host='localhost')

# AWS
conn = psycopg2.connect(dbname='tweetsql',port=5432,password="tweetsql",
                        user='tweetsql',host='tweetsql.cggizg1efi9f.us-east-1.rds.amazonaws.com')

In [3]:
cur = conn.cursor()
#cur.close()

# The cursor interfaces and traverses the database 
# We don't have to worry about how it does it
# Queries are returned as (single iteration) generators

In [4]:
query = '''SELECT *
           FROM tweet 
           LIMIT 200;'''

cur.execute(query)

In [5]:
import pandas as pd
data = pd.read_sql_query(query, conn)

In [6]:
data.shape

(116, 7)

In [7]:
data.head()

,id,tweet,tid,user_id,coordinates,created_at,data
0,1,"RT @bansisharma: Ah, but deserter's parents we...",932624897506979841,1,None,Mon Nov 20 15:01:17 +0000 2017,"{""created_at"": ""Mon Nov 20 15:01:17 +0000 2017..."
1,2,Obama is the Greatest President Ever :) bar no...,932624897758474240,2,None,Mon Nov 20 15:01:17 +0000 2017,"{""created_at"": ""Mon Nov 20 15:01:17 +0000 2017..."
2,3,RT @nxgelUNO: you know you some shiggity if th...,932624898488520705,3,None,Mon Nov 20 15:01:17 +0000 2017,"{""created_at"": ""Mon Nov 20 15:01:17 +0000 2017..."
3,4,RT @PamelaGeller: Liar-in-Chief: Obama Lied Ab...,932624900388458497,4,None,Mon Nov 20 15:01:18 +0000 2017,"{""created_at"": ""Mon Nov 20 15:01:18 +0000 2017..."
4,5,RT @rescue81bee: If you know her be careful. T...,932624900862431233,5,None,Mon Nov 20 15:01:18 +0000 2017,"{""created_at"": ""Mon Nov 20 15:01:18 +0000 2017..."

In [25]:
# import ast
false = False
true = True
import numpy as np
null = np.NaN
# data['data'][0]
d = eval(data['data'][0])
# ast.literal_eval(data['data'][0])

In [35]:
d.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [36]:
d

{'contributors': nan,
 'coordinates': nan,
 'created_at': 'Fri Nov 17 20:28:46 +0000 2017',
 'entities': {'hashtags': [],
  'symbols': [],
  'urls': [],
  'user_mentions': [{'id': 20015311,
    'id_str': '20015311',
    'indices': [3, 16],
    'name': 'Ricky Gervais',
    'screen_name': 'rickygervais'}]},
 'favorite_count': 0,
 'favorited': False,
 'filter_level': 'low',
 'geo': nan,
 'id': 931620146140954624,
 'id_str': '931620146140954624',
 'in_reply_to_screen_name': nan,
 'in_reply_to_status_id': nan,
 'in_reply_to_status_id_str': nan,
 'in_reply_to_user_id': nan,
 'in_reply_to_user_id_str': nan,
 'is_quote_status': False,
 'lang': 'en',
 'place': nan,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'retweeted': False,
 'retweeted_status': {'contributors': nan,
  'coordinates': nan,
  'created_at': 'Thu Nov 16 17:13:50 +0000 2017',
  'display_text_range': [0, 140],
  'entities': {'hashtags': [],
   'symbols': [],
   'urls': [{'display_url': 'twitter.com/i/web/status/9â€¦',
     'expanded_url': 'https://twitter.com/i/web/status/931208702207676416',
     'indices': [117, 140],
     'url': 'https://t.co/wIgyQ5razo'}],
   'user_mentions': []},
  'extended_tweet': {'display_text_range': [0, 218],
   'entities': {'hashtags': [],
    'media': [{'display_url': 'pic.twitter.com/iclfxN6TXr',
      'expanded_url': 'https://twitter.com/rickygervais/status/931208702207676416/photo/1',
      'id': 931208539254730752,
      'id_str': '931208539254730752',
      'indices': [219, 242],
      'media_url': 'http://pbs.twimg.com/media/DOxRO5IWsAAh7qu.jpg',
      'media_url_https': 'https://pbs.twimg.com/media/DOxRO5IWsAAh7qu.jpg',
      'sizes': {'large': {'h': 800, 'resize': 'fit', 'w': 1200},
       'medium': {'h': 800, 'resize': 'fit', 'w': 1200},
       'small': {'h': 453, 'resize': 'fit', 'w': 680},
       'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
      'type': 'photo',
      'url': 'https://t.co/iclfxN6TXr'}],
    'symbols': [],
    'urls': [],
    'user_mentions': []},
   'extended_entities': {'media': [{'display_url': 'pic.twitter.com/iclfxN6TXr',
      'expanded_url': 'https://twitter.com/rickygervais/status/931208702207676416/photo/1',
      'id': 931208539254730752,
      'id_str': '931208539254730752',
      'indices': [219, 242],
      'media_url': 'http://pbs.twimg.com/media/DOxRO5IWsAAh7qu.jpg',
      'media_url_https': 'https://pbs.twimg.com/media/DOxRO5IWsAAh7qu.jpg',
      'sizes': {'large': {'h': 800, 'resize': 'fit', 'w': 1200},
       'medium': {'h': 800, 'resize': 'fit', 'w': 1200},
       'small': {'h': 453, 'resize': 'fit', 'w': 680},
       'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
      'type': 'photo',
      'url': 'https://t.co/iclfxN6TXr'}]},
   'full_text': "The fact that Trump has lifted President Obama's ban on elephant trophies being imported into the country is a devastating blow to the survival of these beautiful animals. It's savage and pointless. It breaks my heart. https://t.co/iclfxN6TXr"},
  'favorite_count': 272117,
  'favorited': False,
  'filter_level': 'low',
  'geo': nan,
  'id': 931208702207676416,
  'id_str': '931208702207676416',
  'in_reply_to_screen_name': nan,
  'in_reply_to_status_id': nan,
  'in_reply_to_status_id_str': nan,
  'in_reply_to_user_id': nan,
  'in_reply_to_user_id_str': nan,
  'is_quote_status': False,
  'lang': 'en',
  'place': nan,
  'possibly_sensitive': False,
  'quote_count': 9669,
  'reply_count': 5832,
  'retweet_count': 140114,
  'retweeted': False,
  'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
  'text': "The fact that Trump has lifted President Obama's ban on elephant trophies being imported into the country is a devaâ€¦ https://t.co/wIgyQ5razo",
  'truncated': True,
  'user': {'contributors_enabled': False,
   'created_at': 'Wed Feb 04 00:00:12 +0000 2009',
   'default_profile': False,
   'default_profile_image': False,
   'description': 'Godless Ape. Comedian, Actor, Writer, Director. #TheOffice #Extras #Derek #TheRickyGervaisShow #Flanimals #LifeOnTheRoad #Humanity',
   'favourites_count': 32509,
   'follow_request_sent': nan,
   'followers_count': 12843611,
   'following': nan,
   'friends_count': 1211,
   'geo_enabled': False,
   'id': 20015311,
   'id_str': '20015311',
   'is_translator': False,
   'lang': 'en',
   'listed_count': 29105,
   'location': 'Earth',
   'name': 'Ricky Gervais',
   'notifications': nan,
   'profile_background_color': 'FFFFFF',
   'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/689961887652548610/QdF7Md9l.jpg',
   'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/689961887652548610/QdF7Md9l.jpg',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/20015311/1501320492',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/642744174744313857/VaPUCm3l_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/642744174744313857/VaPUCm3l_normal.jpg',
   'profile_link_color': '0084B4',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': False,
   'protected': False,
   'screen_name': 'rickygervais',
   'statuses_count': 46483,
   'time_zone': 'London',
   'translator_type': 'none',
   'url': 'http://www.rickygervais.com',
   'utc_offset': 0,
   'verified': True}},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'text': "RT @rickygervais: The fact that Trump has lifted President Obama's ban on elephant trophies being imported into the country is a devaâ€¦ ",
 'timestamp_ms': '1510950526162',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Fri Jul 17 05:31:45 +0000 2009',
  'default_profile': False,
  'default_profile_image': False,
  'description': nan,
  'favourites_count': 149,
  'follow_request_sent': nan,
  'followers_count': 104,
  'following': nan,
  'friends_count': 240,
  'geo_enabled': False,
  'id': 57563171,
  'id_str': '57563171',
  'is_translator': False,
  'lang': 'en',
  'listed_count': 6,
  'location': nan,
  'name': 'Leslie M',
  'notifications': nan,
  'profile_background_color': 'EDECE9',
  'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/622810223/g9c7byw2s7seaghlmhg0.jpeg',
  'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/622810223/g9c7byw2s7seaghlmhg0.jpeg',
  'profile_background_tile': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/323748832/IMG_0172_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/323748832/IMG_0172_normal.jpg',
  'profile_link_color': '088253',
  'profile_sidebar_border_color': 'D3D2CF',
  'profile_sidebar_fill_color': 'E3E2DE',
  'profile_text_color': '634047',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'Run_2_Day',
  'statuses_count': 1044,
  'time_zone': 'Mountain Time (US & Canada)',
  'translator_type': 'none',
  'url': nan,
  'utc_offset': -25200,
  'verified': False}}

# Step 4: commit SQL actions 
### (to actually make the changes to the DB permanent)

In [ ]:
conn.commit()
# conn.autocommit = True

# database level operations are also available

In [ ]:
query = '''ALTER TABLE Beds 
           RENAME COLUMN "Available Residential Beds" 
           TO "available_residential_beds"'''
cur.execute(query)
conn.commit()

# $$\textbf{Sanitize your queries}$$

<table align="center">
<tr><td>
<img src="stuff/exploits_of_a_mom.png" width="600px" align="center"> 
</tr></td>
</table>

In [ ]:
my_name = "Scott"
unsafe_query = '''SELECT * FROM Users 
                  WHERE Name = ''' + my_name

# what if...
my_name = "Scott; DROP TABLE Users"

# This is called SQL Injection and it's obviously risky

In [ ]:
# Instead 
my_name = "Scott; DROP TABLE Users"

cur.execute('''SELECT * FROM Users WHERE Name = %s''', my_name)

# will search for rows in Name *exactly* equal to 'Scott; DROP TABLE Users'

# Step 5: close the connection

In [ ]:
cur.close() # optional, automatically close with conn.close()
conn.close()

In [ ]:
# Or... 

# just read directly into a pandas data frame... which we shall begin learning about: now.

conn = psycopg2.connect(dbname='schwarls37',port=5432,password="",
                        user='schwarls37',host='localhost')


import pandas as pd
query = '''SELECT "facility_name", "available_residential_beds" 
           FROM Beds 
           WHERE "city" = 'Cuba' 
           LIMIT 10;'''
rows = pd.read_sql_query(query, conn)
conn.close()

rows

# $$\textit{pandas}$$
$$\text{Schwartz}$$

## $$\textbf{They're not on the endangered species list any more}$$
# $$\textbf{How China saved the Giant Panda}$$

As of September 2016 the International Union for the Conservation of Nature (IUCN) has taken the global icon off the endangered species list. The giant panda is now listed as "vulnerable" as opposed to "endangered". Thanks to Chinese conservation efforts the Giant Panda population has increased to approximately 2,000 individuals up from a low of about 1,000 in the 1970's when the species was at the most risk.  This population increase has been the result of bamboo forest restoration projects and the incorporation of improved captive breeding and husbandry methods -- initiatives driven by a better understanding of Giant Panda physiology and behaviour. Challenges remain, however. Climate change is predicted to wipe out more than one-third of the panda's bamboo habitat in the next 80 years, and reintroduction of captive-bred pandas into the wild remains challenging. 

<table align="center">
<tr><td>
<img src="stuff/pandas.png" width="600px" align="center"> 
</tr></td>
</table>

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("RDrfE9I8_hs")


# QUIZ

* 1:
* 2:
* 3:
* 4:
* 5:
* Bonus #1:
* Bonus #2:


# Pandas are cute cuddly animals
* They are also the Flying Circus' answer to Excel and R Data Frames
* They are built on top of NumPy NdArrays
* http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html

# Objectives
* psycopg2
    * obviously the quizze stuff above
* numpy
    * Speed
    * Broadcasting
* Pandas Series
    * Pandas Time Series Type
* Pandas DataFrames
    * Creating and destroying columns
    * Merging/Joining DataFrames
    * Concatenating/Appening DataFrames
    * Sorting
    * Accessing data
    * Manipulating the DataFrame Index    
* Exploratory Data Analysis (EDA) with Matplotlib and Pandas 
    * Grouping/Aggregation
    * Creating pivot tables
    * Applying functions/plotting

# Pandas is very functional

<table align="center">
<tr>
<td><img src="stuff/panda7.jpg" width="300px" align="center"></td> 
<td><img src="stuff/panda2.jpg" width="180px" align="center"></td> 
<td><img src="stuff/panda6.jpg" width="475px" align="center"></td> 
<tr><td>Killer Panda</td><td>Red Handed Panda</td><td>Sexy Panda</td></tr>


</tr>
</table>
<table align="center">
<tr>

<td><img src="stuff/panda4.jpg" width="230px" align="center"></td> 
<td><img src="stuff/panda3.jpg" width="300px" align="center"></td> 
<td><img src="stuff/panda1.jpg" width="205x" align="center"></td> 
<td><img src="stuff/panda8.jpg" width="210px" align="center"></td> 
<tr><td>Lone Ranger Panda</td><td>Assisted Pushup Panda</td><td>Acrobat Panda (Beginner)</td><td>Acrobat Panda (Advanced)</td></tr>
</tr>
</table>

# (Standard Library) Lists
* concatenate

In [ ]:
[1,2,3] + [4,5,6]

# Numpy NdArrays
* operate elementwise

In [ ]:
import numpy as np

In [ ]:
np.array([1,2,3]) + np.arange(3) + np.linspace(10,12,3)

# Numpy NdArrays

* have types

In [ ]:
ints = np.array(range(3))
chars = np.array(list('ABC'))
strings = np.array(['A','BC',"DEF"])

print ints.dtype, chars.dtype, strings.dtype

# Speed

https://ipython.org/ipython-doc/3/interactive/magics.html

In [ ]:
numpy_array = np.arange(0, 1000000)
python_list = range(1000000)

print "python list"
time = %timeit -r 1 -o sum(python_list)
print time.all_runs[0]/time.loops 

print "\n" + "numpy array"
time = %timeit -r 1 -o np.sum(numpy_array)
print time.all_runs[0]/time.loops

print "\n" + "numpy array -- standard library sum"
time = %timeit -r 1 -o sum(numpy_array)
print time.all_runs[0]/time.loops

# Broadcasting

http://docs.scipy.org/doc/numpy-1.10.1/user/basics.broadcasting.html

In [ ]:
a = np.array([[10], [-10]]) 
b = np.array([[1, 2], [-1, -2]]) 

print a.shape, b.shape 
print "\n"
print a + b

# elements will "duplicate, expand, and fill up" 
# to make the dimensions compatible for element-wise operations
# cool.

In [ ]:
a = np.array([[10, 0, -10, 0],[-10, 0, -10, 0]]) 
b = np.array([[2,2],[-1,0]]) 
print a.shape, b.shape 
print ""
print a + b

# it's not clear how it should fill up in this case... so it can't/doesn't

# Dimension Dimentia...

In [ ]:
a = 10
#a = np.array(10)
#a = np.array([10])
#a = np.array([[[10]]])
#a = np.array([[10],[10]])
b = np.array([[1,2],[-1,-2]])

print a.shape, b.shape
print "\n"
print a + b

In [ ]:
# Notes:

# a.shape can be assigned into to change the shape with compatible shapes
# a.reshape() can be used to change shape as well to compatible shapes 

# see also a.flatten() and a.ravel(), which leads us to the following...

# Aliasing Amnesia... 
* *Copy* versus *View* (and not accidentally editing another variables memory)

In [ ]:
z = [1, 2]
zz = z#[:]
zz[0]=11
z

In [ ]:
b = np.array([[1,2],[-1,-2]])
print b
print ""

c = b#[:]#.copy()#
# also see "deepcopy()"
c[0,0]=666

print c
print ""
print b

# Pandas Series
* are (one dimensional) np.ndarray vectors **with an index**

In [ ]:
import pandas as pd

In [ ]:
series = pd.Series([5775,373,7,42,np.nan,33])
print series
print "\n"
print series.shape

In [ ]:
world_series = pd.Series(["cubs","royals","giants","sox","giants","cards","giants","...",None])
world_series

# Pandas Date Series
* are fancy: http://pandas.pydata.org/pandas-docs/stable/timeseries.html

In [ ]:
bdays = pd.date_range(start='19821107', periods=34+1, freq=pd.DateOffset(years=1))
bdays#.shape

### After you learn Pandas you might care about using Date Series Types and the following could be useful:
* df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)
* df['Date'] = df['Date'].apply(lambda x: pd.to_datetime(x))

# Pandas DataFrames
* are a set of Pandas Series **that share the same index** 
<br>
<br>

$$\large \text{Python List} \subset \text{NumPy Array} \subset \text{Pandas Series} \subset \text{Pandas DataFrame}$$
<br>

In [ ]:
mixedTypes_df = pd.DataFrame({ '0' : [np.nan] + 3 * [1.],
                               'b' : pd.Timestamp('20130102'),
                               'C' : pd.Series(3, index=list(range(4)), dtype='float32'),
                               '1' : np.array(4 * [1], dtype='int32'),
                                2  : pd.Categorical(["train", "test", "validate", "win"]),
                                3 : 2*[np.nan, 'foo'] }) #, index=bdays[:4]
print mixedTypes_df
print ""
print mixedTypes_df.shape
print ""
mixedTypes_df.dtypes

# Managing Columns

In [ ]:
mixedTypes_df.rename(columns={'b': 'B'}, inplace=True)
mixedTypes_df

In [ ]:
mixedTypes_df['1']

In [ ]:
type(mixedTypes_df['1'])

In [ ]:
type(mixedTypes_df)

In [ ]:
del mixedTypes_df['1']
mixedTypes_df

In [ ]:
mixedTypes_augmented_df = mixedTypes_df.copy() # de-referencing

mixedTypes_df.index = bdays[:4]

mixedTypes_augmented_df[2] = mixedTypes_augmented_df[2] + np.array([", I"]*4) # element-wise
mixedTypes_augmented_df[2] = mixedTypes_augmented_df[2] + " must" # broadcasting
mixedTypes_augmented_df['G'] = 'hommies' # broadcasting

print "mixedTypes_df"
print mixedTypes_df
print "\n"+"mixedTypes_augmented_df"
print mixedTypes_augmented_df

# Accessing Data part I: skeletons
* is kind of special in Pandas

In [ ]:
# getting columns
mixedTypes_augmented_df["G"]
mixedTypes_augmented_df.G#.values#.tolist()

In [ ]:
print mixedTypes_df.index
print ""
print mixedTypes_df.index.values# .dtype # type()
print ""
print mixedTypes_df.index.tolist()

In [ ]:
print mixedTypes_df.columns
print ""
print mixedTypes_df.columns.values #.dtype
print ""
print mixedTypes_df.columns.tolist()

# Accessing Data part II: innards
* is kind of special in Pandas

In [ ]:
np.ones((10,10))[:3,:3]

In [ ]:
zeros_ndarray = np.zeros((3,4))        # Create a matrix of zeros with 3 rows and 4 columns. 
ones_ndarray = np.ones((10,20))        # Create a matrix of ones with 10 rows and 20 columns.
identity_ndarray = np.identity(50)     # Create an identity matrix with 50 rows and 50 columns. 
random_ndarray = np.random.rand(2, 2)  # Create a 2x2 array of random floats ranging from 0 to 1. 
range_ndarray = np.arange(0, 20, 0.5)  # Create a numpy array with arguments (start, end, step_size). 
noise_nparray = np.random.randn(35, 6) # Create a 35x6 array of normally distributed random normal variables

identity_ndarray[:3,:3]

In [ ]:
mixedTypes_df.head()
mixedTypes_df[:3,:3]
# is mixedTypes_df a matrix?

In [ ]:
print mixedTypes_df.values#[:3,:3] 
mixedTypes_df.as_matrix() # type(

# are these the same?

In [ ]:
# getting columns
mixedTypes_df[[2,3,"0","B"]]

In [ ]:
# getting rows
print bdays[1]
mixedTypes_df[:bdays[1]] # hint: "slice"

In [ ]:
mixedTypes_df

In [ ]:
# Quiz 1
#-------
mixedTypes_df[:1]
#mixedTypes_df[2:3]
#mixedTypes_df[[2,3]]
#mixedTypes_df[2]
#mixedTypes_df[1]
#mixedTypes_df[0]
#mixedTypes_df['0']

In [ ]:
mixedTypes_df = mixedTypes_df.reset_index()
mixedTypes_df

In [ ]:
# Quiz 2
#-------

mixedTypes_df[:1]
#mixedTypes_df[2:3]
#mixedTypes_df[[2,3]]
#mixedTypes_df[2]
#mixedTypes_df[1]
#mixedTypes_df[0]
#mixedTypes_df['0']

In [ ]:
mixedTypes_df

In [ ]:
mixedTypes_df = mixedTypes_df.set_index('index')
del mixedTypes_df.index.name
mixedTypes_df

# Accessing Data part III: open sesame and abracadabra
* is kind of special in Pandas

# The *.loc*

In [ ]:
mixedTypes_df.loc[["B","C"]] # hint: :,
#mixedTypes_df.loc[1:3,["B","C"]] # hint: bdays[1]:bdays[3]
#mixedTypes_df.loc[3,["B","C"]] # hint: bdays[3]
#mixedTypes_df.loc[:,["2","3"]] # hint: "

# The *.iloc*
* as opposed to the *.loc*

In [ ]:
print mixedTypes_df.iloc[2:4,2:4]
print mixedTypes_df.iloc[:bdays[3],["B","C"]]

# The *.ix*
* as opposed(?) to the *.loc* and the *.iloc*

In [ ]:
mixedTypes_df

In [ ]:
print mixedTypes_df.ix[:3,1:3]
print ""
print mixedTypes_df.ix[:bdays[3],1:3]
print ""
print mixedTypes_df.ix[:3,['B','C']]
print ""
print mixedTypes_df.ix[:bdays[3],[2,3]]

# The *.at/.iat*?
* gets you a single scalar. fast.

# Pandas talks to all sorts of data types
## SQL, csv, .xlsx, pickle, etc.
* http://pandas.pydata.org/pandas-docs/stable/io.html
* https://docs.python.org/2/library/pickle.html

In [ ]:
Schools_df = pd.read_csv("stuff/Schools.csv")
Schools_df.head()

# Applying functions to Data
## A.K.A., transforming data, doing stuff to data, etc.
<br>
$$\LARGE \text{NumPy Array} \subset \text{Pandas Series} \subset \text{Pandas DataFrame}$$

* http://pandas.pydata.org/pandas-docs/stable/basics.html#descriptive-statistics

# Filtering (i.e., row selecting or boolean indexing)

In [ ]:
# & | ~ == != VERSUS and or not equals

Schools_df[(Schools_df.schoolState.isin(["TX"]) & Schools_df.schoolNick.str.contains("Tigers")) 
           | ((Schools_df.schoolCity.astype(str) == "Austin") & 
              (Schools_df["schoolName"].astype(str) != "University of Texas at Austin")) ]

In [ ]:
kp = (Schools_df.schoolState.isin(["TX"]) & Schools_df.schoolNick.str.contains("Tigers")) | \
    ((Schools_df.schoolCity.astype(str) == "Austin") & ~(Schools_df.schoolName.astype(str) == "University of Texas at Austin"))

print Schools_df.ix[kp, ["schoolName","schoolNick"]]
print ""
print Schools_df.loc[kp, "schoolName":"schoolNick"]
print ""
print Schools_df.iloc[kp ,1:2]

In [ ]:
pd.DataFrame(Schools_df[Schools_df.schoolNick.notnull() & Schools_df.schoolState.isin(["TX"])].schoolNick.reshape(5,8))

# Managing Missing Values
* http://pandas.pydata.org/pandas-docs/stable/missing_data.html

In [ ]:
print mixedTypes_df
print ""
print mixedTypes_df.dropna(how='any') # subset=['0'], inplace=True
print ""
print mixedTypes_df

In [ ]:
mixedTypes_df[3]= mixedTypes_df[3].fillna(value="I pity the")
print mixedTypes_df

# Group By
* Aggregate, Apply
* http://pandas.pydata.org/pandas-docs/stable/groupby.html

In [ ]:
Schools_df.groupby(['schoolState'])[['schoolID']].count().head()
#Schools_df.schoolState.value_counts()

# Pivot Tables
* http://pandas.pydata.org/pandas-docs/version/0.15.2/reshaping.html#pivot-tables-and-cross-tabulations

In [ ]:
nicknames_states = pd.crosstab(Schools_df.schoolNick, Schools_df.schoolState) 
nicknames_states.ix["Tigers":"Vandals","IN":"VA"]

# More Aggregations

In [ ]:
nicknames_states['total'] = nicknames_states.T.sum() # axis=1
nicknames_states.head()

In [ ]:
nicknames_states.loc['total'] = (nicknames_states.sum(axis=0).values)
nicknames_states.tail()

# Sorting

In [ ]:
nicknames_states.sort_values(axis=0, by=['total'], ascending=False).head()

In [ ]:
posts_df = pd.read_csv('stuff/PostsForAnalysis.txt')
users_df = pd.read_csv('stuff/UsersForAnalysis.txt')
posts_df.describe()

# Discretization

In [ ]:
print posts_df.comments_count.quantile([0, .25, .5, .75, 1])
print ""
print pd.qcut(posts_df.comments_count, [0, .25, .5, .75, 1])[:5]
print ""
print pd.cut(posts_df.comments_count, 5)[:5]

# .apply - more Aggregations and Transformations
* [Guru God Level Extra Credit] Transform versus Apply -- what's the difference?
* see also: df.isnull, df.notnull, pd.isnull, pd.notnull
* etc.

In [ ]:
# show combining columns 
((posts_df.comments_count/posts_df.votes_count)*np.log(posts_df.votes_count))[:5]

In [ ]:
users_df.twitter_username.unique()

In [ ]:
users_df.headline.apply(lambda x: "Boss" if "founder" in str(x).lower() or "ceo" in str(x).lower() else "Nots")[:5]

In [ ]:
users_df[:10].created_at.apply(pd.to_datetime).apply(lambda x: (x - pd.to_datetime('2013-11-21T23:06:54.070-08:00')) / np.timedelta64(1, 'D')).apply(int)

In [ ]:
from scipy.stats import mode
posts_df.ix[:, "date":"time_of_day"].apply(mode)

# Merge 
* http://pandas.pydata.org/pandas-docs/stable/merging.html
* adding *columns*
* see also: df.join
* Inner, Left, Right, Outer...

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo', 'bar'], 'lval': [1, 2, 3]})
right = pd.DataFrame({'key': ['foo', 'foo','post'], 'rval': ["A", "B", "C"]})

print "X"
print left
print "\n" + "Y"
print right
print "\n" + "X outer join Y"
print pd.merge(left, right, on='key', how='outer')
print "\n" + "X inner join Y"
print pd.merge(left, right, on='key', how='inner')
print "\n" + "X left join Y"
print pd.merge(left, right, on='key', how='left')
print "\n" + "X right join Y"
print pd.merge(left, right, on='key', how='right')

In [ ]:
posts_users_df = pd.merge(posts_df, users_df, on='user_id')
posts_users_df.head()

# Concatenating
* adding *rows*
* see also: df.append()

In [ ]:
pd.concat([posts_users_df[:3],posts_users_df[-3:]], axis=0)

In [ ]:
pd.concat([posts_users_df[["id","date","day"]],posts_users_df[["headline","twitter_username","website_url"]]], axis=1).head()

# Multi-Indexing
* group by structuring

In [ ]:
index = pd.MultiIndex.from_tuples(names=['first', 'second'],
            tuples = list(zip(['bar', 'bar', 'baz', 'baz','foo', 'foo', 'qux', 'qux'],
                              ['one', 'two', 'one', 'two','one', 'two', 'one', 'two'])))
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=['A', 'B', 'C'])
df

In [ ]:
stacked = df.stack()
stacked

In [ ]:
stacked.unstack() #.unstack()

In [ ]:
stacked.unstack(0)

In [ ]:
stacked.unstack(0).T

# Plotting
* for good, not evil
* http://pandas.pydata.org/pandas-docs/stable/visualization.html
* http://matplotlib.org
* http://matplotlib.org/users/style_sheets.html
* https://stanford.edu/~mwaskom/software/seaborn/ 
* http://bokeh.pydata.org/en/latest/

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import pylab
pylab.rcParams['figure.figsize']=(6,5)

In [ ]:
import matplotlib
matplotlib.style.use('classic')
#matplotlib.style.use('ggplot')
#print plt.style.available

In [ ]:
zeros_ndarray = np.zeros((3,4))        # Create a matrix of zeros with 3 rows and 4 columns. 
ones_ndarray = np.ones((10,20))        # Create a matrix of ones with 10 rows and 20 columns.
identity_ndarray = np.identity(50)     # Create an identity matrix with 50 rows and 50 columns. 
random_ndarray = np.random.rand(2, 2)  # Create a 2x2 array of random floats ranging from 0 to 1. 
range_ndarray = np.arange(0, 20, 0.5)  # Create a numpy array with arguments (start, end, step_size). 
noise_nparray = np.random.randn(35,6)  # Create a 35x6 array of normally distributed random normal variables

noise_df = pd.DataFrame(noise_nparray, index=bdays, columns=list('ABC123'))
for i in range(6):
    noise_df.iloc[i,i] = np.nan
    
random_walk_df = noise_df.apply(np.cumsum)
standarized_walk_df = (random_walk_df - random_walk_df.mean()) / random_walk_df.std()

In [ ]:
standarized_walk_df = standarized_walk_df.reset_index()
print standarized_walk_df
del standarized_walk_df['index'] # or df.drop('index', inplace=True, axis=1)

standarized_walk_df.plot()

In [ ]:
plt.figure()
random_walk_df.hist()
plt.tight_layout()

In [ ]:
random_walk_df.plot(kind='box')

In [ ]:
pylab.rcParams['figure.figsize']=(17,5)
random_walk_df.plot(kind='bar')
pylab.rcParams['figure.figsize']=(7,5)

In [ ]:
from pandas.tools.plotting import scatter_matrix
scatter_matrix(random_walk_df, alpha=0.9, figsize=(10, 10), diagonal='kde')
pylab.rcParams['figure.figsize']=(6,5)



# When will I ever even have to use Pandas? 

"Is it when I need a team of hardy animals to pull me across the expansive frozen tundra in a sled?"

<br>
# Answer: all the time.
So you might as well get good at it sooner rather than later... 

### Some other "Intro To Pandas" notebooks that I like a lot
* https://github.com/zipfian/DSI_Lectures/blob/master/pandas/sallamander/numpy_notes.ipynb
* https://github.com/zipfian/DSI_Lectures/blob/master/pandas/numpy_pandas.ipynb  
* http://pandas.pydata.org/pandas-docs/stable/10min.html

### The Official Documentation
* http://pandas.pydata.org/pandas-docs/stable/index.html

### An In-House Cheat Sheet
* https://github.com/zipfian/precourse/tree/master/Chapter_4_Pandas#functions-i-use-all-the-time